*~
*.*~
*.rpt
*.done
*.smsg
*.summary
*.pin
*.qdf
*.srec
*.sof
*.o
*.bak
spear2-hwsw11/workspace/amba_hwsw/quartus/**/*
myTests/
faceDetection/app/main
faceDetection/app/main.txt
.metadata
.DS_Store
spear2-hwsw11/workspace/amba_hwsw/modelsim/**/*
transcript
*.dpf
*.wlf
spear2-hwsw11/workspace/amba_hwsw/modelsim/vsim.wlf
